/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  	
  	nav#menu #select-menu{
	  	display: none;
		
  	}
  	.news-l{
	  	width: 655px;
	  	position: relative;
		margin: 0 auto;
		display: inline-block;
  	}
  	.title_and_text{width: 100% !important;margin-left: 0 !important;margin-top: 15px;}
  	
  	.title_and_text .item-title{margin: 10px 0;}
  	
	h2 .shortcodes-typography{
		font-size: 2.5em !important;
		line-height: 1em;
	}
	.fullwidth-container{background-size: 100% 100% !important;}
	h3{
		font-size: 1.2em !important;
		line-height: 1em !important;
	}
	.projects_media.fullwidthslider .flexslider{
		height: 350px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides{
		height: 350px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides li img{
		height: 350px !important;
	}
	#rev_slider_5_2, #rev_slider_5_2_wrapper{width: 555px !important;}
	#projects-2 .da-thumbs li{margin-top: 0 !important;}
	.filterby .projectCategories li a{padding: 0px 15px 0 15px !important;}
	.fullwidth-container .container{width: 735px;}
	.fullwidth-container h3.secondaryTitle{}
	#slider_container.designareslider{height: 300px !important;}
	.camera_caption{margin-left: -5px;}
	.camera_caption .container{padding-top: 0 !important;}
  	.camera_caption h1{font-size: 0.5em !important;}
  	.camera-image-contents{position: relative;bottom: -30px;}
  	.camera-image-contents img{height: 100% !important;}
  	.ls-wp-fullwidth-container, .rev_slider_wrapper{
	  	min-height: 340px !important;
  	}
  	header #menulava > li{margin: 0 6px !important;}
  	.ch-grid li{
	  	height: 120px;
  	}
  	.shortcode-services ul.service-items .one-third.column .item-title{width: 100% !important; padding-left: 0 !important;}
  	.columns .shortcode-services ul.service-items .four.columns .item-title{padding-left: 10px !important;}
  	.container .eight.columns .shortcode-services ul.service-items .eight.columns .item-title{padding-left: 0 !important; width: 100%;}
  	header #menulava i{vertical-align: top !important;}
	#tabs ul.tabs li a{padding: 14px 7px 14px 7px !important;font-size: 12px !important;}
	#tabs .panes{width: 92% !important;}
	.ch-grid li.nc2, .post-thumb img.nc2{height: 290px;}	
	.ch-grid li.nc3, .post-thumb img.nc3{height: 170px;}
	.ch-grid li.nc4, .post-thumb img.nc4{height: 125px;}
	
  	.divider_940{
	  	width: 720px;
  	}
  	.recentPosts .date{
	  	padding: 7px 8px 6px 8px;
  	}
  	slider_container{
	  	height: 350px;
  	}
  	.shortcode-services ul.service-items p.designare_icon{
	  	margin: 0 15px 15px 0 !important;
  	}

  	.info_above_menu .eight:first-child{width: 28.39%;top: 6px !important;left: 20px;}
  	.info_above_menu .eight:last-child{width: 63.39%;}
  	
  	.headerstyle-style4 .info_above_menu .eight:first-child{width: 47.39%;top: 15px !important ;}
  	.headerstyle-style4 .info_above_menu .eight:last-child{width: 47.39%;}
  	
  	
  	.ontoppanel .info_above_menu .eight:first-child{width: 47.39%;top: 15px !important ;}
  	.ontoppanel .eight:last-child{width: 47.39%;}
  	#menulava > li > a{padding: 6px !important; font-size: 11px !important; }
  	
  	/* .indproj1 .ch-grid li{height: 130px !important;} */
  	.mail-box{left: 0 !important;}
  	.mail-box .container{left: 0 !important;}
  	#mc_embed_signup{text-align: left !important;}
  	.mail_chimp_form_container .banner{width: 24%;}
  	.mail_chimp_form_container .form{width: 74%;}
  	.mail_chimp_form_container input{width: 42%;}
  	 .custom-widget form#searchform input[type="text"]{
	  	 width: 71.5%;
  	 }
  	 .fancyborder .fancyb{width: 96% !important;}
  	 .columns .bigicons .row .one-third .title_and_text{width: 100% !important;}
  	 .columns .bigicons .row .one-third .title_and_text .item-desc{padding-left: 0 !important;}
  	 #tabs .flex-caption{display: none !important;}
  	.#header .social{left: 40px;}
  	.special_tabs .label span{font-weight: normal !important;}
  	.da-thumbs li.four a div .overlay_title{
	  	margin: 5px 20px 0 20px !important;
	  	font-weight: bold !important;
  	}
  	.donut-container{margin:0 !important;}
  	.da-thumbs li.one-third a div .overlay_title, .da-thumbs li.one-third a div .da-title{
	  	font-size: 17px;line-height: 20px;
  	}
 
  	.team-box h4 {
		font-size: 25px !important;
		padding-top: 10px !important;
	}
	.person-desc {
		font-size: 11px !important;
		line-height: 16px !important;
	}
	.team-box .person-facebook, .team-box .person-twitter{
		margin: 0 0 8px 20px !important;
	}
	.team-box .person-twitter{
		margin: 0 0 8px 5px !important;
	}
  	.da-animate .overlay_sep {margin: 0 0 5px 30px !important;}
  	.logo{
	  	margin: 1px 0 0 0;
	  	position: relative;
  	}
  	/*
.logo_normal.n-li{
	  	max-height: 80px !important;
  	}
*/
  	.logo_and_menu{
	  	padding: 0;
	  	width: 745px !important;
  	}
  	header #menu{
	  	text-align: center;
	  	bottom: 0px;
  	}
  	header #menulava{
	  	float: right;
		
	  	display: inline-block;
		
  	}
  	#header{left: -10px !important;}
  	
  	.logo_and_menu .logo{
	  	float: left;
	  	display: inline-block;
	  	xmargin-bottom: 15px;
  	}
  	.logo_and_menu h1.logo{
	  	float: left;
	  	margin-left: 40px;
	  	position: relative;
  	}
  	.backgroundpattern a.des-sc-button, .fancyborder a.des-sc-button{font-size: 0.8em !important;}

  	.recentposts_listing .rc-container{width: 71% !important;}
  	
  	.recentPosts .post .featured-image-thumb, .recentPosts .video-thumb{
	  	width: 40%;
  	}
  	.logo img{max-width: 100%;}
  	.recentPosts .flexslider{xwidth: 40% !important;}
  	header #menulava > li > a{
  	}
  	#header{
	  	width: 735px;
  	}
  	.copys{padding: 15px 0;}
  	#wrapper{margin-bottom: 0 !important;}
  	#white_content, #wrapper{
	  	width: 735px;
  	}
  	
  	.reset_960{
	  	width: 735px;
  	}
  	
  	#footer_content{
	  	width: 100%;
  	}
  	
  	.project_list .slides_container div.slides_column{
	  	width: 363px;
  	}
  	
  	.project_list .slides_container .post-thumb{
	  	width: 167px;
	  	height: 111px;
  	}
  	
  	.project_list_s2 .slides_container div.slides_column{
	  	width: 556px;
  	}
  	
  	
  	.widget-area form#searchform input[type="text"]{
	  	width: 71%;
  	}
  	
  	.page_title .arrows-proj2{
	  	right: -50px;
  	}
  	
  	.shortcode-services ul.service-items p.item-desc{
	  	width: 71% !important;
  	}
  	.shortcode-services ul.service-items .item-title{
	  	width: 80% !important;font-size: 0.9em !important;
  	}
  	.shortcode-services ul.service-items p.item-desc{
	  	width: 100% !important;
  	}
  	#tabs .shortcode-services ul.service-items .one-third .item-title{
	  	width: 100% !important; padding-left: 0 !important;
  	}
  	#big_footer .shortcode-services ul.service-items .item-title, #toppanel .shortcode-services ul.service-items .item-title {
		padding-top: 6px;
		width: 75% !important;
	}
	.fullwidth-container .rev_slider_wrapper {
		min-height: 170px !important;
		height: 170px !important;
	}
	.single .depth-4, .single .depth-5, .single .depth-6, .single .depth-7, .single .depth-8, .single .depth-9, .single .depth-10, .single .depth-11, .single .depth-12{padding-left: 10px;}
	
	li.comment.depth-4{width: 388px !important;}
	li.comment.depth-5{width: 378px !important;}
	li.comment.depth-6{width: 370px !important;}
	li.comment.depth-7{width: 361px !important;}
	li.comment.depth-8{width: 351px !important;}
	li.comment.depth-9{width: 341px !important;}
	li.comment.depth-10{width: 331px !important;}
	
	
	
	.headerstyle-style4 .zap_dynamic_shopping_bag {
		right: 20px;
	}
	
	/* Header style 1 */
	.headerstyle-style1 header #menulava{display: none;}
	.headerstyle-style1 nav#menu #select-menu{
		display: inline-block;
		position: relative;
		top: 14px;
		text-align: right;
		width: 320px;
		float: right;
		right: 20px;
	}
	
	.dropdown-menu {
		padding: 7px 10px;
		color: rgb(68, 68, 68);
		font-family: Helvetica,Arial,sans-serif;
		font-size: 10px;
		border-radius: 0px 0px 0px 0px;
		width: auto;
		text-transform: uppercase;
		top: 4px;
		border: 1px solid rgb(237, 237, 237);
		background: url('../img/navselect.png') no-repeat 98% 5px;
		float: right;
		width: 100%;
	}
	.headerstyle-style1 .zap_dynamic_shopping_bag{margin-left: 15px;}
	.headerstyle-style1 .zap_little_shopping_bag .title a{right: 0;}
	
	/* Header style 2 */
	.headerstyle-style2 header #menulava{display: none;}
	.headerstyle-style2 nav#menu #select-menu{
		display: inline-block;
		position: relative;
		top: 14px;
		text-align: right;
		width: 320px;
		float: right;
		right: 20px;
	}
	
	.headerstyle-style2 .zap_dynamic_shopping_bag{margin-left: 15px;}
	.headerstyle-style2 .zap_little_shopping_bag .title a{right: 0;}
	.headerstyle-style2 .woocommerce-menu{margin-right: 10px;}
	/* Header style 3 */
	.headerstyle-style3 header #menulava{display: none;}
	.headerstyle-style3 nav#menu #select-menu{
		display: inline-block;
		position: relative;
		top: 14px;
		text-align: right;
		width: 320px;
		float: right;
		right: 20px;
	}
	
	.headerstyle-style3 .zap_dynamic_shopping_bag{margin-left: 15px;}
	.headerstyle-style3 .zap_little_shopping_bag .title a{right: 0;}
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 960px) {

	.serviceballs{display: block;}
	.special_tabs{display: block !important;}
	.acc-substitute{display: none;}
}

/* correct header */
@media only screen and (min-width: 960px) and (max-width: 985px) {

	.serviceballs{display: block;}
	.special_tabs{display: block !important;}
   .acc-substitute{display: none;}
}

/* For vertical ipad style */
@media only screen and (min-width: 768px) and (max-width: 793px) {
		#header{
	  	width: 730px;
  	}
  	.single .depth-4, .single .depth-5, .single .depth-6, .single .depth-7, .single .depth-8, .single .depth-9, .single .depth-10, .single .depth-11, .single .depth-12{padding-left: 10px;}
	.logo img{max-width: 100%;}
	li.comment.depth-4{width: 388px !important;}
	li.comment.depth-5{width: 378px !important;}
	li.comment.depth-6{width: 370px !important;}
	li.comment.depth-7{width: 361px !important;}
	li.comment.depth-8{width: 351px !important;}
	li.comment.depth-9{width: 341px !important;}
	li.comment.depth-10{width: 331px !important;}
  	.serviceballs{display: block;}
  	.special_tabs{display:block !important;}
	.acc-substitute{display: none;}
  	#white_content, #wrapper{
	  	width: 735px;
  	}
  	.des-sc-dots-divider{width: 100% !important;max-width: 100% !important;}
  	.reset_960{
	  	width: 730px;
  	}
  	
  	#footer_content{
	  	width: 731px;
  	}
  	.logo_and_menu {
		padding: 0;
		width: 731px !important;
	}
  	.project_list .slides_container div.slides_column{
	  	width: 342px;
  	}
  	
  	.project_list .slides_container .post-thumb{
	  	width: 156px;
	  	height: 110px;
  	}
  	
  	.post-thumb img.nc4{
	  	height: 110px;
  	}
  	  	
  	.project_list_s2 .slides_container div.slides_column{
	  	width: 522px;
  	}
  	
  	.widget-area form#searchform input[type="text"]{
	  	width: 71%;
  	}
  	
  	.page_title .arrows-proj2{
	  	right: -45px;
  	}
  	
  	#flickr li{
	  	width: 43px;
	  	height: 43px;
  	}
  	
  	
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
	.main_cols{margin-bottom: 40px;}
	.ls-wp-fullwidth-container, .rev_slider_wrapper{
		min-height: 140px !important;
	}
	h1{
		font-size: 1.5em !important;
		line-height: 1.3em;
		margin-bottom: 10px;
	}
	h2{
		font-size: 1.2em !important;
		line-height: 1.2em;
	}
	.fa_and_title{width: 100% !important;}
	.slides_container{position: relative !important; margin-bottom: 20px;}
	.logo img{max-width: 100%;}
	.shortcode-partners .columns{width: 107% !important;}
	.fullwidth-container{background-size: auto !important;}
	.fullwidth-container .container{width: 440px;}
	#header{
	  	width: 460px;
	  	left: 0;
	  	height: 60px !important;
  	}
	.header_container{
    	height: 60px !important;
    	top: 0 !important;
    }
	header .logo_and_menu{
	  	padding: 0;
	  	top: -3px;
	  	background: none;
	  	height: 77px !important;
	  	
  	
	  	min-height: 77px !important;
}
  	.style-top-bar .container, .fullwidth_container_menu .container{
	  	width: 460px !important;
  	}
	#menu{width: auto !important;float: right;margin: 8px 0 !important;right: -20px !important;}
	nav#menu #select-menu {
		display: inline-block;
		position: relative;
		top: 10px;
		text-align: right;
		width: 320px;
		float: right;
		right: 20px;
	}

	.projects_media.fullwidthslider .flexslider{
		height: 200px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides{
		height: 200px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides li img{
		height: 200px !important;
	}
	#the_movies iframe{height: 180px !important;}
	.fullwidth_container_menu #menulava{display: none;}
	
	nav#menu #select-menu option{width: 2%;}
	#select-menu{display: block;}
	.dropdown-menu {
		padding: 7px 10px;
		color: rgb(68, 68, 68);
		font-family: Helvetica,Arial,sans-serif;
		font-size: 10px;
		border-radius: 0px 0px 0px 0px;
		width: auto;
		text-transform: uppercase;
		top: 4px;
		border: 1px solid rgb(237, 237, 237);
		background: url('../img/navselect.png') no-repeat 98% 5px;
	
		float: right;
		width: 100%;
}
	.dropdown-menu option:hover, .dropdown-menu a:hover{
		color: #444 !important;
	}
	.logo a{
		margin-top: -10px !important;
	}
	.logo img{
		height: 40px !important;
		min-height: 40px !important;
	}
	.logo{
	  	margin-bottom: 12px;
	  	left: 10px;
		position: relative;
		display: inline-block;
		
	  	width: auto !important;
		text-align: center;
  	}
  	#secondary{left: -10px !important;}
	/*
#slider_container, #flexslider_container, .flexslider_container{
		padding-top: 60px !important;
	}
	.fullwidth-container{
		margin-top: 60px !important;
	}
*/
	
	#tabs .panes{margin: -4px 0 0 0 !important; width: 93.5% !important;}
	
	.mail_chimp_form_container .container{
		left: 0 !important;
	}
	.news-l {
		left: 0%;
		position: relative;
		width: 55%;
	}
	.mail_chimp_form_container .banner {
		width: 62%;
		left: 45px;
		position: relative;
		font-size: 15px;
	}
	.mail_chimp_form_container .form {margin-top: 0;width: 96%;}
	
	.mail_chimp_form_container input{position: relative;float: left;width: 88%;text-align: center;margin-left: 0;}
	
	.mail_chimp_form_container input.button{float: left;position: relative;width: 96.2%;}
	#tabs ul.tabs li{width: 100% !important; margin: 0 !important;}
	#tabs ul.tabs li a {
		padding: 15px 0px 12px 10px;
		width: 91.3% !important;
		display: inline-block;
	}
	.title_and_text{width: 74%;}
	.projects_container_proj, .projects_container_s4 {width: 100% !important;}
	.home_widget{width: 100%;}
	#footer_content .twitter_container{margin-top: 25px;}
	.eight.columns .projects_container_s4  .zaptitle{width: 94% !important;}
	.shortcodes-typography{
		font-size: 1.5em !important;
		line-height: 1.1em !important;
		margin-bottom: 15px;
	}
	.page_title{font-size: 1em !important; width: 80% !important;}
	.secondaryTitle{font-size: 1em !important;width: 80% !important;line-height: 1.1em !important;}
	.projects_nav1{width: 17% !important;}
  	.nav-previous-nav1 a{height: 10px !important;width: 10px !important;right:-8px;}
  	.nav-next-nav1 a{height: 10px !important;width: 10px !important;right:-10px;}

	.featured-box .columns .des-sc-button{
		float: left !important;
	}
	.title_and_text{width: 75% !important;}
	.contact-form{margin-bottom: 20px !important;}
	
	.home-no-slider{padding-top: 80px;}
	.info_above_menu_left{font-size: 8px !important;}
	.info_above_menu_right, .language_selector_right{
		float: left !important;
		top: -6px;
		position: relative;
	}
	
	.tp-caption.fl-title{
		font-size: 12px !important;
	}
	.post-listing{
		border-left: none !important;
		padding-left: 0px !important;
	}

	.fancyborder .fancyb{
		width: auto !important;
	}

	.featured-box {
		width: 97% !important;
	}

	.featured-box h3{
	  	width: 100% !important;
	  	margin-bottom: 20px;
  	}
  	
  	.featured-box p{
	  	width: 100% !important;
	  	float: none !important;
	  	clear: both !important;
	  	top: 0px !important;
	  	margin-top: 10px;
	  	text-align: left !important;
	  	right: 0px !important;
  	}
		nav#menu ul#menulava{
	  	display: none;
  	
}
  	.acc-substitute h2, #accordion h2{width: 92% !important;}
  	.serviceballs{display: none;}
  	.special_tabs{display:none !important;}
	.acc-substitute{display: block !important; margin-bottom: 50px !important;}
	.acc-substitute .acc-sec h1, .acc-substitute .acc-sec h2, .acc-substitute .acc-sec h3, .acc-substitute .acc-sec h4, .acc-substitute .acc-sec h5, .acc-substitute .acc-sec h6{
		text-align: left !important;
	}
  	.camera_caption{margin-left: -5px;}
  	.camera_caption h1{font-size: 0.4em !important;}
  	.camera_caption .image{display: none !important;}
  	.camera_caption .container{top: -40px;}
  	.two-thirds .recentProjects3 .projects_container_proj{width: 93% !important;}
  	.flexslider_container .flexslider{height: 160px !important;}
  	.flexslider_container .flexslider .flex-caption{display: none !important;}
  	.fancyborder{width: 91% !important;}
  	.fancyborder .fancyb{width: 90% !important;}
  	.flexslider .flex-caption{display: none !important;}
  	.headerstyle-style4 .slogan {
		width: 43%;
		text-align: left;
		margin-top: 10px !important;
		font-size: 11px !important;
	}
  	.revBanner .rev_slider_wrapper{min-height: 50px !important; height: auto !important;}
  	.container .one-third.column{margin-bottom: 25px !important;}




  	.recentPosts .post .featured-image-thumb, .recentPosts .video-thumb, .recentPosts .flexslider{width: 100% !important;}
  	.recentPosts .post .title_date{width: 100% !important;}
  	.recentPosts .post .title_date .title{width: 100%;}
  	.the_content_text{width: 100%;}
  	.home_widget .flex-direction-nav{xwidth: 63%;}
  	
  	#tweet_scroll_place{
	  	height: 70px !important;
  	}
  	.p_excerpt{margin-bottom: 5px !important; margin-top: 0 !important;}
  	.home_widget .projects_container .project_open_s2{
	  	height: 124px;
	  	background: none;
	  	
  	}

  	.header-shadow{display: none;}
  	.project_open_s2 .project_content_s2{
	  	margin: 0 !important;
  	}
  	.recentPosts .project_open_s2{
	  	background: none !important;
  	}

  	
  	.home_widget .projects_container .project_open_s3{height: 200px;}
  	.camera_caption{
	  	xdisplay: none !important;
	  	xvisibility: hidden !important;
  	}
  	
  	
  	#white_content{
	  	width: 460px;
  	}
  	.page_title_s3 .overlay_sep{display: none;}
  	#wrapper{
	  	width: 460px;
	  	margin-top: 0;
	  	top: 0;
	  	margin-bottom: 0;
  	}
  	
  	.shortcode-services{
	  	padding: 0 !important;
  	}
  	
  	.home_widget .page_title_s2{
	  	width: 90%;
  	}
  	
  	.home_widget .page_title
  	{
	  	width: 95%;
  	}
  	
  	#big_footer{
	  	margin-top: 0;
  	}
  	
  	.divider_940{
	  	width: 420px;
	  	margin: 0 10px;
  	}
  	
  	.reset_960{
	  	width: 435px;
  	}
  	
	.acc-substitute .pane{
		xpadding: 0 15px 20px 10px !important;
	}
  	.acc-substitute .pane h3{
	  	font-size: 18px !important;
  	}
  	#option_wrapper, .option_btn{display: none !important;}
  	#footer_content{
	  	margin-top: 0;
	  	width: 435px;
	  	margin-bottom: 35px;
  	}
  	.socialdiv{float: none !important;margin-top: 20px;}
  	.blogarchive .metas_container{
	  	left: 0;
	  	margin-top: 10px;
  	}
  
  	.blogarchive .post .featured-image-thumb, .blogarchive .flexslider{
	  	height: 140px !important;
  	}
  	.tweet_text, #tweet_scroll_place li a{font-size: 10px !important;}
  	.single .entry-content, .blogarchive .post .the_title, .blogarchive .post .blog_excerpt{
	  	margin-left: 0 !important;
  	}
  	
  	.mejs-container{
	  	margin-left: 0 !important;
	  	width: 300px !important;
  	}
  	
  	.single #commentform .form-submit #submit{
	  	width: 40% !important;
  	}
  	
  	#projects-2 .da-thumbs li{
	  	width: 98.5% !important;
  	}
  	#projects-2 .da-thumbs li.one-third a div .overlay_categories{
	  	margin: 5px 20px 5px 40px !important;
  	}
  	.da-thumbs li.one-third a div .viewproj, .da-thumbs li.four a div .viewproj, .da-thumbs li.four a div .viewproj{margin: 52px 20px 20px 40px;}
  	.da-thumbs li.four a,  .da-thumbs li.four a img, .da-thumbs li.one-third a,  .da-thumbs li.one-third a img, .da-thumbs li.eight a,  .da-thumbs li.eight a img{
	  	height: 306px !important;
  	}
  	#projects-2 .da-thumbs li.four a div .overlay_categories {
		margin: 5px 20px 0 40px !important;
	}
  	.da-thumbs li.one-third a div .overlay_title, .da-thumbs li.eight a div .overlay_title, .da-thumbs li.four a div .overlay_title, .da-thumbs li.four a div .da-title{
	  	display: block;
		position: relative;
		float: left;
		padding: 10px 0 0 0;
		margin: 25px 20px 0 40px;
		font-weight: normal;
		color: rgba(255, 255, 255, 0.9);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		width: 87%;
		font-size: 20px;
		font-family: 'Open Sans', Arial;
		font-weight: bold;
  	}
  	
  	.da-thumbs li.one-third a div .overlay_sep, .da-thumbs li.eight a div .overlay_sep{
	  	height: 2px;
			background: #39C;
			width: 35px;
			position: relative;
			float: left;
			margin: 0 0 5px 20px;
  	}
  	
  	.da-thumbs li.one-third a div .overlay_text, .da-thumbs li.eight a div .overlay_text{
	  	display: none;
  	}
  	
  	.ch-grid li.nc2, .ch-grid li.nc3, .ch-grid li.nc4{
	  	height: 220px;
  	}
  	
  	.thumbnails_list .slides_item{
	  	width: 100% !important;
  	}
  	.filterby_btn{
	  	width: 21% !important;
	  	font-size: 0.7em !important;
	  	padding: 7px !important;
  	}
  	.arrow-right{top: 9px !important;}
  	.projectCategories{top: 20px !important; width: 71%;border: none !important;}
  	.filterby .projectCategories li{line-height: 27px;}
  	.filterby .projectCategories li{border-right: 0 !important;}
  	.filterby .projectCategories li a{
	  	padding: 0 14px !important; 
	  	font-size: 0.7em !important;
  	
}
  	.projects_nav1{
	  	right: 10px;
	  	width: 15%;
  	}
  	
  	.projects_media{
	  	width: 97%;
	  	float: left;
	  	padding: 0;
	  	margin-bottom: 10px;
  	}
  	
  	.page_title .arrows-proj2{
	  	right: 0;
	  	top: 0;
  	}
  	
  	.project_list .slides_container div.slides_column{
	  	width: 299px;
  	}
  	
  	.project_list .slides_container .post-thumb{
	  	width: 293px;
	  	height: 200px;
  	}
  	
  	.slides_container .post-thumb.r{
	  	margin-left: 0;
  	}
  	
  	.copys_right, .copys_left{
	  	text-align: center;
  	}
  	.tp-button.green, .tp-button.blue, .tp-button.red, .tp-button.orange, .tp-button.darkgrey, .tp-button.lightgrey{
	  	padding: 4px !important;
	  	font-size: 0.7em !important;
  	}
  	.alignnone{
	  	margin-right: 0 !important;
  	}
  	.single .depth-4, .single .depth-5, .single .depth-6, .single .depth-7, .single .depth-8, .single .depth-9, .single .depth-10, .single .depth-11, .single .depth-12{padding-left: 10px;}
	
	li.comment.depth-4{width: 388px !important;}
	li.comment.depth-5{width: 378px !important;}
	li.comment.depth-6{width: 370px !important;}
	li.comment.depth-7{width: 361px !important;}
	li.comment.depth-8{width: 351px !important;}
	li.comment.depth-9{width: 341px !important;}
	li.comment.depth-10{width: 331px !important;}
	
	/* Differents Headers*/
	
	.headerstyle-style4.header_container{
		height: 153px !important;
	}
	.info_above_menu .eight:first-child{width: 37%;top: 6px !important ;}
  	.info_above_menu .eight:last-child{width: 61%;}
  	
	.headerstyle-style4 .info_above_menu.style4 {
		margin-top: -86px !important;
	}
	.headerstyle-style4 .info_above_menu #searchform_top{top: 25px;right: -20px;}
	.headerstyle-style4 .logo{margin: 0px 0 !important;}
	
	.headerstyle-style4 header .logo_and_menu{min-height: 60px !important;top: 15px;}
	
	.headerstyle-style4 #select-menu {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		left: 0;
		top: 5px;
	}
	.shortcode-services ul.service-items .item-title{padding-left: 0 !important;}
	.headerstyle-style4 .fullwidth_container_menu {
		background: #212121;
		height: 50px;
	}
	.headerstyle-style4 .dropdown-menu {background-color: #fff; border: 1px solid #333;}
	
	.headerstyle-style4 .woocommerce-menu #menulava_top > li {
		padding-left: 3px;
	}
	.headerstyle-style4 .info_above_menu .menu_wpml_widget {
		right: 0;
	}
	.headerstyle-style4 #menulava_top{margin-right: 0;}
	.headerstyle-style4 #slider_container, .headerstyle-style4 #flexslider_container, .headerstyle-style4 .flexslider_container {
		padding-top: 155px !important;
		-webkit-transition: all 0.4s linear;
		-moz-transition: all 0.4s linear;
		-ms-transition: all 0.4s linear;
		-o-transition: all 0.4s linear;
		transition: all 0.4s linear;
	}
	.slogan{margin-top: 14px !important;}
	/* Header Style 1 */
	.headerstyle-style1 nav#menu #select-menu {width: 175px;}
	.headerstyle-style1 .zap_dynamic_shopping_bag{margin-left: 15px;}
	
	/* Header Style 2 */
	.headerstyle-style2 nav#menu #select-menu {width: 175px;}
	.headerstyle-style2 .zap_dynamic_shopping_bag{margin-left: 15px;}
	
	.headerstyle-style2 .info_above_menu .eight:first-child{width: 100%;top: 14px !important;text-align: center;}
  	.headerstyle-style2 .info_above_menu .eight:last-child{width: 100%;}
	
	.headerstyle-style2 .fullwidth_container.style-top-bar{height: 80px;}
	.headerstyle-style2.header_container{height: 160px !important;}
	.headerstyle-style2.n-hc{height: 60px !important;}
	
	.headerstyle-style2 .info_above_menu #searchform_top{margin-top: 20px;}
	.headerstyle-style2 .woocommerce-menu{margin-top: 33px;margin-right: 10px;}
	.headerstyle-style2 .info_above_menu .menu_wpml_widget{margin-top: 18px;}
	.headerstyle-style2 .info_above_menu #s_top:focus{width: 415px;}
	
	/* Header Style 3 */
	.headerstyle-style3 nav#menu #select-menu {width: 175px;}
	.headerstyle-style3 .zap_dynamic_shopping_bag{margin-left: 15px;}
	
	.headerstyle-style3 .info_above_menu .eight:first-child{width: 100%;top: 14px !important;text-align: center;}
  	.headerstyle-style3 .info_above_menu .eight:last-child{width: 100%;}
	
	.headerstyle-style3 .fullwidth_container.style-top-bar{height: 80px;}
	.headerstyle-style3.header_container{height: 145px !important;}
	.headerstyle-style3.n-hc{height: 60px !important;}
	
	.headerstyle-style3 .info_above_menu #searchform_top{margin-top: 20px;}
	.headerstyle-style3 .woocommerce-menu{margin-top: 33px;margin-right: 10px;}
	.headerstyle-style3 .info_above_menu .menu_wpml_widget{margin-top: 18px;}
	.headerstyle-style3 .info_above_menu #s_top:focus{width: 415px;}
	
	.headerstyle-style4 .style-top-bar .info_above_menu .telephone, .headerstyle-style4 .style-top-bar .info_above_menu .email, .headerstyle-style4 .style-top-bar .info_above_menu .address, .headerstyle-style4 .style-top-bar .info_above_menu .textfield{
		font-size: 9px !important;
		margin-right: 0;
	}
	.headerstyle-style4 .socialdiv {
margin-right: -18px !important;
margin-top: 26px !important;
}
	.headerstyle-style4 #lang_sel a.lang_sel_sel{font-size: 9px !important;}
	.headerstyle-style4 .style-top-bar .info_above_menu a{font-size: 9px !important;}
	.headerstyle-style4 .info_above_menu .eight:first-child{width: 39%;}
	
}

@media only screen and (max-width: 479px) {
	.main_cols{margin-bottom: 40px;}
	.ls-wp-fullwidth-container, .rev_slider_wrapper{
		min-height: 140px !important;
	}
	h1{
		font-size: 1.1em !important;
		line-height: 1.3em;
		margin-bottom: 10px;
	}
	h2{
		font-size: 0.9em !important;
		line-height: 1.2em;
	}
	.fa_and_title{width: 100% !important;}
	.slides_container{position: relative !important; margin-bottom: 20px;}
	.shortcode-partners .columns{width: 107% !important;}
	.fullwidth-container{background-size: auto !important;}
	.fullwidth-container .container{width: 295px !important;}
	#header{
	  	width: 320px;
	  	left: 0;
	  	height: 60px !important;
  	}
	.header_container{
    	height: 60px !important;
    	top: 0 !important;
    }
	header .logo_and_menu{
	  	padding: 0;
	  	top: 0;
	  	background: none;
	  	height: 82px !important;
	  	
  	
	  	min-height: 82px;
}
    #projects-2 .da-thumbs li.eight a div .overlay_categories {
		padding: 5px 0 0 0;
		margin: -10px 0 0 20px !important;
	}
	.da-thumbs li.eight a div .viewproj i{font-size: 28px;}
	.da-thumbs li.eight a div .viewproj{margin: 150px 20px 5px 20px;}
	#projects-2 .da-thumbs li.one-third a div .overlay_categories {
		margin: -10px 20px 5px 20px !important;
	}
	.single .depth-4, .single .depth-5, .single .depth-6, .single .depth-7, .single .depth-8, .single .depth-9, .single .depth-10, .single .depth-11, .single .depth-12{padding-left: 10px;}
	
	li.comment.depth-4{width: 388px !important;}
	li.comment.depth-5{width: 378px !important;}
	li.comment.depth-6{width: 370px !important;}
	li.comment.depth-7{width: 361px !important;}
	li.comment.depth-8{width: 351px !important;}
	li.comment.depth-9{width: 341px !important;}
	li.comment.depth-10{width: 331px !important;}
	#menu{width: auto !important;float: right;margin: 10px 0!important;}
	nav#menu #select-menu {
		display: inline-block;
		position: relative;
		top: 10px;
		text-align: right;
		width: 100%;
		float: right;
		right: 20px;
	}
	.projects_media.fullwidthslider .flexslider{
		height: 200px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides{
		height: 200px !important;
	}
	.projects_media.fullwidthslider .flexslider .slides li img{
		height: 200px !important;
	}
	.logo img{max-width: 100%;}
	#the_movies iframe{height: 180px !important;}
	nav#menu #select-menu option{width: 2%; }
	.dropdown-menu {
		padding: 8px 10px;
		color: rgb(68, 68, 68);
		font-family: Helvetica,Arial,sans-serif;
		font-size: 10px;
		border-radius: 0px 0px 0px 0px;
		width: auto;
		text-transform: uppercase;
		top: 4px;
		border: 1px solid rgb(237, 237, 237);
		background: url('../img/navselect.png') no-repeat 95% 6px;
		float: right;
		width: 100%;
}
	.dropdown-menu option:hover, .dropdown-menu a:hover{
		color: #444 !important;
	}
	
	.logo img{
		height: 40px !important;
		min-height: 40px !important;
	}
	.logo{
	  	margin-bottom: 12px;
	  	left: 10px;
		position: relative;
		display: inline-block;
		width: auto !important;
		text-align: center;
	  	margin-top: 0px !important;
}
  	#secondary{left: -10px !important;}
	
	
	#tabs .panes{margin: -4px 0 0 0 !important; width: 89.5% !important;}
	
	.mail_chimp_form_container .container{
		left: 0 !important;
	}
	.mail_chimp_form_container .banner {
		width: 80%;
		left: 10px;
		position: relative;
		font-size: 15px;
	}
	.news-l {
		position: relative;
		width: 300px;
		margin: 0 auto;
		display: inline-block;
	}
	.mail_chimp_form_container .form {margin-top: 0;width: 100%;}
	
	.mail_chimp_form_container input{position: relative;float: left;width: 88%;text-align: center;margin-left: 0;}
	
	.mail_chimp_form_container input.button{float: left;position: relative;width: 97.5%;-webkit-box-shadow: none;
box-shadow: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-o-border-radius: 0;
-ms-border-radius: 0;-webkit-appearance: none;}
	.shortcode-services ul.service-items .item-title{padding-left: 0 !important;}
	#tabs ul.tabs li{width: 100% !important; margin: 0 !important;}
	#tabs ul.tabs li a {
		padding: 15px 0px 12px 10px;
		width: 86% !important;
		display: inline-block;
	}
	.title_and_text{width: 74%;}
	.projects_container_proj, .projects_container_s4 {width: 100% !important;}
	.home_widget{width: 100%;}
	#footer_content .twitter_container{margin-top: 25px;}
	.eight.columns .projects_container_s4  .zaptitle{width: 94% !important;}
	.shortcodes-typography{
		font-size: 1.5em !important;
		line-height: 1.1em !important;
		margin-bottom: 15px;
	}
	.page_title{font-size: 1em !important; width: 80% !important;}
	.secondaryTitle{font-size: 1em !important;width: 80% !important;line-height: 1.1em !important;}
	.projects_nav1{width: 17% !important;}
  	.nav-previous-nav1 a{height: 10px !important;width: 10px !important;right:-8px;}
  	.nav-next-nav1 a{height: 10px !important;width: 10px !important;right:-10px;}

	.featured-box .columns .des-sc-button{
		float: left !important;
	}
	.title_and_text{width: 100% !important;margin-left: 0 !important;margin-top: 15px;}
	.contact-form{margin-bottom: 20px !important;}
	
	.home-no-slider{padding-top: 80px;}
	.info_above_menu_left{font-size: 8px !important;}
	.info_above_menu_right, .language_selector_right{
		float: left !important;
		top: -6px;
		position: relative;
	}
	
	.tp-caption.fl-title{
		font-size: 12px !important;
	}
	.post-listing{
		border-left: none !important;
		padding-left: 0px !important;
	}

	.fancyborder .fancyb{
		width: auto !important;
	}

	.featured-box {
		width: 97% !important;
	}

	.featured-box h3{
	  	width: 100% !important;
	  	margin-bottom: 20px;
  	}
  	
  	.featured-box p{
	  	width: 100% !important;
	  	float: none !important;
	  	clear: both !important;
	  	top: 0px !important;
	  	margin-top: 10px;
	  	text-align: left !important;
	  	right: 0px !important;
  	}
		nav#menu ul#menulava{
	  	display: none;
  	
}
  	.acc-substitute h2, #accordion h2{width: 92% !important;}
  	.serviceballs{display: none;}
  	.special_tabs{display:none !important;}
	.acc-substitute{display: block !important; margin-bottom: 50px !important;}
	.acc-substitute .acc-sec h1, .acc-substitute .acc-sec h2, .acc-substitute .acc-sec h3, .acc-substitute .acc-sec h4, .acc-substitute .acc-sec h5, .acc-substitute .acc-sec h6{
		text-align: left !important;
	}
  	.camera_caption{margin-left: -5px;}
  	.camera_caption h1{font-size: 0.4em !important;}
  	.camera_caption .image{display: none !important;}
  	.camera_caption .container{top: -40px;}
  	.two-thirds .recentProjects3 .projects_container_proj{width: 93% !important;}
  	.flexslider_container .flexslider{height: 160px !important;}
  	.flexslider_container .flexslider .flex-caption{display: none !important;}
  	.fancyborder{width: 91% !important;}
  	.fancyborder .fancyb{width: 90% !important;}
  	.flexslider .flex-caption{display: none !important;}
  	.slogan{display: none;}
  	.revBanner .rev_slider_wrapper{min-height: 50px !important; height: auto !important;}
  	.container .one-third.column{margin-bottom: 25px !important;}




  	.recentPosts .post .featured-image-thumb, .recentPosts .video-thumb, .recentPosts .flexslider{width: 100% !important;}
  	.recentPosts .post .title_date{width: 100% !important;}
  	.recentPosts .post .title_date .title{width: 100%;}
  	.the_content_text{width: 100%;}
  	.home_widget .flex-direction-nav{xwidth: 63%;}
  	
  	#tweet_scroll_place{
	  	height: 70px !important;
  	}
  	.p_excerpt{margin-bottom: 5px !important; margin-top: 0 !important;}
  	.home_widget .projects_container .project_open_s2{
	  	height: 124px;
	  	background: none;
	  	
  	}

  	.header-shadow{display: none;}
  	.project_open_s2 .project_content_s2{
	  	margin: 0 !important;
  	}
  	.recentPosts .project_open_s2{
	  	background: none !important;
  	}

  	
  	.home_widget .projects_container .project_open_s3{height: 200px;}
  	.camera_caption{
	  	xdisplay: none !important;
	  	xvisibility: hidden !important;
  	}
  	
  	
  	#white_content{
	  	width: 320px;
  	}
  	.page_title_s3 .overlay_sep{display: none;}
  	#wrapper{
	  	width: 320px;
	  	margin-top: 0;
	  	top: 0;
	  	margin-bottom: 0;
  	}
  	
  	.shortcode-services{
	  	padding: 0 !important;
  	}
  	
  	.home_widget .page_title_s2{
	  	width: 90%;
  	}
  	
  	.home_widget .page_title
  	{
	  	width: 95%;
  	}
  	
  	#big_footer{
	  	margin-top: 0;
  	}
  	#footer_content{
	  	margin-top: 0;
	  	width: 320px;
	  	margin-bottom: 35px;
  	}
  	.divider_940{
	  	width: 300px;
	  	margin: 0 10px;
  	}
  	
  	.reset_960{
	  	width: 295px;
  	}
  	
	.acc-substitute .pane{
		xpadding: 0 15px 20px 10px !important;
	}
  	.acc-substitute .pane h3{
	  	font-size: 18px !important;
  	}
  	#option_wrapper, .option_btn{display: none !important;}
  	
  	.blogarchive .metas_container{
	  	left: 0;
	  	margin-top: 10px;
  	}
  
  	.blogarchive .post .featured-image-thumb, .blogarchive .flexslider{
	  	height: 140px !important;
  	}
  	.tweet_text, #tweet_scroll_place li a{font-size: 10px !important;}
  	.single .entry-content, .blogarchive .post .the_title, .blogarchive .post .blog_excerpt{
	  	margin-left: 0 !important;
  	}
  	
  	.mejs-container{
	  	margin-left: 0 !important;
	  	width: 300px !important;
  	}
  	
  	.single #commentform .form-submit #submit{
	  	width: 40% !important;
  	}
  	
  	#projects-2 .da-thumbs li{
	  	width: 100% !important;
  	}
  	
  	.da-thumbs li.four a,  .da-thumbs li.four a img, .da-thumbs li.one-third a,  .da-thumbs li.one-third a img, .da-thumbs li.eight a,  .da-thumbs li.eight a img{
	  	height: 207px !important;
  	}
  	
  	.da-thumbs li.one-third a div .overlay_title, .da-thumbs li.eight a div .overlay_title{
	  	display: block;
			position: relative;
			float: left;
			padding: 10px 0 0 0;
			margin: 10px 20px 10px 20px;
			font-weight: normal;
			color: rgba(255, 255, 255, 0.9);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			width: 87%;
			font-size: 18px;
			font-family: 'Open Sans';
			font-weight: bold;
  	}
  	
  	.da-thumbs li.one-third a div .overlay_sep, .da-thumbs li.eight a div .overlay_sep{
	  	height: 2px;
			background: #39C;
			width: 35px;
			position: relative;
			float: left;
			margin: 0 0 5px 20px;
  	}
  	
  	.da-thumbs li.one-third a div .overlay_text, .da-thumbs li.eight a div .overlay_text{
	  	display: none;
  	}
  	
  	.ch-grid li.nc2, .ch-grid li.nc3, .ch-grid li.nc4{
	  	height: 220px;
  	}
  	
  	.thumbnails_list .slides_item{
	  	width: 100% !important;
  	}
  	.filterby_btn{
	  	width: 29% !important;
	  	font-size: 0.6em !important;
	  	padding: 8px !important;
  	}
  	.arrow-right{top: 9px !important;}
  	.projectCategories{top: 20px !important; width: 62%;border: none !important;}
  	.filterby .projectCategories li{line-height: 27px;}
  	.filterby .projectCategories li{border-right: 0 !important;}
  	.filterby .projectCategories li a{
	  	padding: 0 13px !important; font-size: 0.6em !important;
  	}
  	.projects_nav1{
	  	right: 10px;
	  	width: 15%;
  	}
  	
  	.projects_media{
	  	width: 97%;
	  	float: left;
	  	padding: 0;
	  	margin-bottom: 10px;
  	}
  	
  	.page_title .arrows-proj2{
	  	right: 0;
	  	top: 0;
  	}
  	
  	.project_list .slides_container div.slides_column{
	  	width: 299px;
  	}
  	
  	.project_list .slides_container .post-thumb{
	  	width: 293px;
	  	height: 200px;
  	}
  	
  	.slides_container .post-thumb.r{
	  	margin-left: 0;
  	}
  	
  	.copys_right, .copys_left{
	  	text-align: center;
  	}
  	.tp-button.green, .tp-button.blue, .tp-button.red, .tp-button.orange, .tp-button.darkgrey, .tp-button.lightgrey{
	  	padding: 4px !important;
	  	font-size: 0.7em !important;
  	}
  	.alignnone{
	  	margin-right: 0 !important;
  	}
  	.socialdiv{float: none !important;margin-top: 20px;}
  	
  	
  	/* Differents Headers*/
	
	.headerstyle-style4.header_container{
		height: 166px !important;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.headerstyle-style4.n-hc{
		height: 65px !important;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.info_above_menu .eight:first-child{width: 100%;top: 6px !important;text-align: center;}
  	.info_above_menu .eight:last-child{width: 100%;text-align: center;}
  	
	.headerstyle-style4 .info_above_menu.style4 {
		margin-top: -15px !important;
	}
	.headerstyle-style4 .info_above_menu #searchform_top{top: 25px;right: -18px;}
	.headerstyle-style4 .logo{margin: 3px 0 !important;}
	
	.headerstyle-style4 header .logo_and_menu{
		min-height: 60px !important;
		top: 0;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.headerstyle-style4 header .n-hm{
		min-height: 60px !important;
		top: 5px;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.headerstyle-style4 #select-menu {
		display: block;
		float: left;
		position: relative;
		width: 80%;
		left: 0;
		top: 5px;
	}
	.headerstyle-style4 .fullwidth_container_menu {
		background: #212121;
		height: 50px;
	}
	.headerstyle-style4 .dropdown-menu {background-color: #fff; border: 1px solid #333;}
	
	.headerstyle-style4 .woocommerce-menu #menulava_top > li {
		padding-left: 3px;
	}
	.headerstyle-style4 .info_above_menu .menu_wpml_widget {
		right: 70px;
	}
	.headerstyle-style4 #menulava_top{margin-right: 0;}
	.headerstyle-style4 #slider_container, .headerstyle-style4 #flexslider_container, .headerstyle-style4 .flexslider_container {
		padding-top: 155px !important;
		-webkit-transition: all 0.4s linear;
		-moz-transition: all 0.4s linear;
		-ms-transition: all 0.4s linear;
		-o-transition: all 0.4s linear;
		transition: all 0.4s linear;
	}
	.headerstyle-style4 #select-menu {
		display: block;
		float: left;
		position: relative;
		width: 94%;
		left: 10px;
		top: 0;
	}
	.top-bar-menu{float: none !important;}
	.headerstyle-style4.n-hc #select-menu{top: 6px;}
	.headerstyle-style4.n-hc .zap_dynamic_shopping_bag{top: -5px;}
	.fullwidth_container_menu #menulava {
		display: none;
	}
	.headerstyle-style4 .fullwidth_container.style-top-bar{
		height: 56px;
	}
	.headerstyle-style4 #lang_sel{border-right: none !important; border-left: none !important;}
	.headerstyle-style4 #menulava_top{margin-right: 0;}
	
	.headerstyle-style4 #slider_container, .headerstyle-style4 #flexslider_container, .flexslider_container{
		padding-top: 160px !important;
		height: 400px;
	}
	.headerstyle-style4 .fullwidth-container{
		margin-top: 160px !important;
	}
	.headerstyle-style4 .woocommerce-menu {
		float: right;
		margin-top: 15px;
		right: 70px;
	}
	.headerstyle-style4 .zap_dynamic_shopping_bag {
		top: -11px;
	}
	.info_above_menu #s_top:focus {
width: 280px;}
	.style-top-bar .container, .fullwidth_container_menu .container{
	  	width: 320px !important;
  	}
  	.headerstyle-style4 .fullwidth_container_menu .container{padding-left: 0 !important;}
  	.style-top-bar .info_above_menu .telephone, .style-top-bar .info_above_menu .email, .style-top-bar .info_above_menu .address, .style-top-bar .info_above_menu .textfield {
		line-height: 16px;
		font-size: 9px !important;
		color: #5c5c5c;
		display: initial;
		margin-right: 0;
		font-weight: 500 !important;
		top: 0;
	}
	
	
	/* Header Style 1 */
	.headerstyle-style1 nav#menu #select-menu {width: 145px;}
	.headerstyle-style1 .zap_dynamic_shopping_bag{margin-left: 5px;right: 13px !important;}
	
	/* Header Style 2 */
	.headerstyle-style2 nav#menu #select-menu {width: 155px;}
	.headerstyle-style2 .zap_dynamic_shopping_bag{margin-left: 10px;right: 0;}
	
	.headerstyle-style2 .info_above_menu .eight:first-child{width: 100%;top: 14px !important;text-align: center;}
  	.headerstyle-style2 .info_above_menu .eight:last-child{width: 100%;}
	
	.headerstyle-style2 .fullwidth_container.style-top-bar{height: 80px;}
	.headerstyle-style2.header_container{height: 165px !important;}
	.headerstyle-style2.n-hc{height: 60px !important;}
	
	.headerstyle-style2 .info_above_menu #searchform_top{margin-top: 20px;right: 10px !important;}
	.headerstyle-style2 .woocommerce-menu{margin-top: 33px;margin-right: 32px;}
	.headerstyle-style2 .info_above_menu .menu_wpml_widget{margin-top: 18px;}
	.headerstyle-style2 .info_above_menu #s_top:focus{width: 240px;}
	.headerstyle-style2 .socialdiv{margin-top: 17px;}
	
	/* Header Style 3 */
	.headerstyle-style3 nav#menu #select-menu {width: 155px;}
	.headerstyle-style3 .zap_dynamic_shopping_bag{margin-left: 10px;right: 0;}
	.headerstyle-style2.n-hc #menu{margin: 0 !important;}
	.headerstyle-style3 .info_above_menu .eight:first-child{width: 100%;top: 14px !important;text-align: center;}
  	.headerstyle-style3 .info_above_menu .eight:last-child{width: 100%;}
	
	.headerstyle-style3 .fullwidth_container.style-top-bar{height: 80px;}
	.headerstyle-style3.header_container{height: 170px !important;}
	.headerstyle-style3.n-hc{height: 60px !important;}
	
	.headerstyle-style3 .info_above_menu #searchform_top{margin-top: 20px;right: 10px !important;}
	.headerstyle-style3 .woocommerce-menu{margin-top: 33px;margin-right: 32px;}
	.headerstyle-style3 .info_above_menu .menu_wpml_widget{margin-top: 18px;}
	.headerstyle-style3 .info_above_menu #s_top:focus{width: 240px;}
	.headerstyle-style3 .socialdiv{margin-top: 17px;}
	
	.headerstyle-style4 .style-top-bar .info_above_menu .telephone, .headerstyle-style4 .style-top-bar .info_above_menu .email, .headerstyle-style4 .style-top-bar .info_above_menu .address, .headerstyle-style4 .style-top-bar .info_above_menu .textfield{
		font-size: 9px !important;
		margin-right: 0;
	}
	.headerstyle-style4 #lang_sel a.lang_sel_sel{font-size: 9px !important;}
	.headerstyle-style4 .style-top-bar .info_above_menu a{font-size: 9px !important;}
	
	.style-top-bar .info_above_menu a {
		font-size: 9px !important;
	}
	#lang_sel a.lang_sel_sel {
		font-size: 9px !important;
	}
	.headerstyle-style3.n-hc #menu{margin: 0 !important;}
	.parallax{height: auto !important;background-position: fixed;background-repeat: repeat;}
	
	.parallax-overlay-pattern{height: 100% !important;}
	.headerstyle-style4 .socialdiv {
margin-right: -18px !important;
margin-top: 26px !important;
}
}

