    <!-- BEGIN: BACK-TO-TOP BUTTON -->      
    <div id="back-to-top"><a href="javascript:;"></a></div>
    
    
    <!-- BEGIN: FOOTER -->
    <div id="big_footer">
      
      <!--
<div id="tweet_scroll_place">
        <div class="container tweet_bird">
          <div class="tweet_scroll_text sixteen columns"></div>
        </div>
      </div>
      
      <script type="text/javascript">
        jQuery(function($){
              $(".tweet_scroll_text").tweet({
                modpath: 'js/twitter/index.php',
                username: "DesignareThemes",
                page: 1,
                avatar_size: 0,
                count: 5,
                loading_text: "loading ..."
              });
            });
            jQuery(document).ready(function(){
              var ul = jQuery(".tweet_scroll_text .tweet_list");
                var ticker = function() {
                  setTimeout(function() {
                    ul.find('li:first').animate( {marginTop: '-4em'}, 500, function() {
                      jQuery(this).detach().appendTo(ul).removeAttr('style');
                    });
                    ticker();
                  }, 5000);
                };
                ticker();
          });
      </script>
-->
      
      <!-- BEGIN: FOOTER WIDGETS -->    
        <div id="footer_content" style="margin-left:25%">
          <div class="container">
            
            <!-- BEGIN: CONTACT DETAILS WIDGET -->
            <div class="four columns">
              <h4>Contact Details</h4><hr/>
              
              <!-- BEGIN: WIDGET -->
              <div class="textwidget">
              DiguSign is a part of the DigiByte ecosystem - <br>
              a rapidly growing world-wide
              <br> decentralized payment network and highly scalable secured blockchain<br>
              <br>
              <strong>Email:</strong> dev@digibyte.co<br/>
              
              <!-- BEGIN: NUMERICAL INCREMENTS -->
              <div class="main_cols container">
                
                
                <!-- BEGIN: EIGHT-THIRD COLUMN -->
                <div class="eight-third column">
                  <div>
                    <!-- BEGIN: SECOND NUMERICAL INCREMENT -->
                    <div id="numerical-3510" class="numericals">
                   </div>
                  </div>
                <!-- END -->
                </div>
              <!-- END: NUMERICAL INCREMENTS -->
              </div>
            <!-- END: WIDGET -->
            </div>        
          </div>
        <!-- END: CONTACT DETAILS WIDGET -->
        
        <!-- BEGIN: TWITTER WIDGET -->
        <div class="four columns" style="margin-top:25px">     
          <a class="twitter-timeline" href="https://twitter.com/digibytecoin"
             data-theme="dark"
             data-link-color="#ccc"
             background="#333"
             border-radius="none"
             data-chrome="nofooter noborders"
             data-widget-id="413723523169787904"
             data-screen-name="digibytecoin" data-show-replies="false"
             data-tweet-limit="2"
             height="200"
             width="250"
            >@Twitter Feed</a>
        </div>
         <!-- END: TWITTER WIDGET -->
         
        
        <!-- BEGIN: ZAP CORE SERVICES -->
        <div class="four columns">
          <h4>DiguSign Services</h4><hr/>
          <div class="textwidget">
            <div id='service-35' class='shortcode-services default'>
              <ul class='service-items itemsPerRow-1'>
                
                <!-- SERVICE #01 -->
                <li class='service-item no-flicker'>
                  <p class='designare_icon'><i class="fa fa-bolt text_color"></i></p>
                  <p class='item-title'>Lightning quick document certification!</p>
                  <p class='item-desc'>Certify any document you want in a matter of seconds!</p>
                </li>
                
                <!-- SERVICE #02 -->
                <li class='service-item no-flicker'>
                  <p class='designare_icon'><i class="fa fa-clock-o text_color"></i></p>
                  <p class='item-title'>Setup in Minutes</p>
                  <p class='item-desc'>Maecenas fermentum neque id ligula commodo elementum ornare.</p>
                </li>
  
              </ul>
              <div class='fix'></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- END: FOOTER -->    
      
      <!-- BEGIN: SECONDARY FOOTER -->
      <div class="copys">
      <div class="container">
        
        <!-- BEGIN: SECONDARY FOOTER LEFT -->
        <div class="copys_left eight columns">
          © 2016 Copyrights DigiByte | All rights Reserved<br/>
          
          <!-- BEGIN: FOOTER MENU -->
          <a href="#">Home</a> - <a href="#">Login</a> - <a href="#">FAQ</a> - <a href="#">API</a> - <a href="#">Contact</a>
        </div>
        
        <!-- BEGIN: SECONDARY FOOTER RIGHT -->
        <div class="copys_right eight columns">
          <div class="footer_right_content">
            
            <!-- BEGIN: FOOTER SOCIAL ICONS -->
            <div class="socialdiv" style="float:right;">
              <ul>
                <li><a href="#" target="_blank" class="facebook" title="Facebook"></a></li>
                <li><a href="#" target="_blank" class="twitter" title="Twitter"></a></li>
                <li><a href="#" target="_blank" class="youtube" title="Youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: SECONDARY FOOTER -->
  </div>
