
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    margin: 10px 0 0 0;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {

}

.jcarousel-skin-tango .jcarousel-item {

}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 17px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal{
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url(arrow-p.png) no-repeat center center;
    left: 30px;
    opacity: 0.5;
    -webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}



.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    opacity: 1;
    background: url(arrow-phover.png) no-repeat center center;
}

.jcarousel-next-horizontal:active {
    opacity: 0.1;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    opacity: 0.1;
}

.jcarousel-prev-horizontal {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url(arrow-l.png) no-repeat center center;
    left: 6px;
    opacity: 0.5;
    -webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
    float: left;
}



.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {
    opacity: 1;
    background: url(arrow-lhover.png) no-repeat center center;
}

.jcarousel-prev-horizontal:active {
    opacity: 0.1;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: 0.1;
}
